@model ProjetBDMuretDave.Models.Lieu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Localite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdLieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
